@{
    ViewBag.Title = "About Garage 2.5";
}
<h2></h2>
<h3>@ViewBag.Message</h3>

<p>Developed by:
    <ul>
        <li>Rasha Talal</li>
        <li>Miguel Ehrstrand</li>
        <li>Behzad Vefaghi</li>
    </ul>
    
    </p>
